---
import { Image } from '@astrojs/image/components'
import { Icon } from 'astro-icon'
import Layout from '../layouts/Layout.astro'

let pokemonList = []

let loadMore = 15

try {
	const pokeName = async (id) => {
		const res = await fetch(`https://pokeapi.co/api/v2/pokemon/${id}`)
		const data = await res.json()
		return data
	}

	for (let index = 1; index <= 15; index++) {
		let data = await pokeName(index)
		pokemonList.push(data)
	}
} catch (error) {
	console.log(error)
}
---

<Layout title='Astro - PokeApi Example'>
	<main class='lg:container lg:mx-auto p-4'>
		<h1
			class='text-center text-6xl font-semibold tracking-wide capitalize py-4 bg-clip-text text-transparent bg-gradient-to-br from-slate-100 to-slate-800'>
			Astro - PokeApi Example
		</h1>
		<section class='flex flex-wrap justify-center items-center -mx-1 gap-4 md:gap-2 lg:gap-4'>
			{
				pokemonList.map((pokemon) => (
					<div
						class={`relative h-[33rem] w-full overflow-hidden md:w-1/3 lg:w-1/4 xl:w-1/4 rounded-lg p-4 ${pokemon.types[0].type.name}`}>
						<div>
							<div
								class={`flex justify-between text-xl text-${pokemon.types[0].type.name} capitalize font-bold`}>
								<Icon
									name='ic:twotone-catching-pokemon'
									class='absolute -top-3 -right-3 h-56 w-56'
								/>
								<span>{pokemon.name}</span>
								<span class='z-10'># {pokemon.id}</span>
							</div>
							<div class='flex justify-center'>
								<Image
									class='translate-y-10'
									src={pokemon.sprites.other.dream_world.front_default}
									alt={pokemon.name}
									height={175}
									width={175}
									fit='fill'
									loading='lazy'
								/>
							</div>
						</div>
						<div class='bg-white rounded-lg h-fit pt-16'>
							<div class='flex justify-evenly items-center'>
								{pokemon.types.map((type) => (
									<span
										class={`rounded-full border-solid p-2 font-bold capitalize w-1/3 text-center bg-${pokemon.types[0].type.name}`}>
										{type.type.name}
									</span>
								))}
							</div>
							<h4 class='text-center text-2xl font-semibold tracking-wide capitalize py-2'>
								Base Stats
							</h4>
							{pokemon.stats.map((stat) => (
								<div class='flex w-full items-center md:text-sm px-2 capitalize font-bold'>
									<span class='w-2/3'>{stat.stat.name}</span>
									<span class='w-1/3'>{stat.base_stat}%</span>
									<progress class='w-2/3' max='100' value={stat.base_stat}>
										{' '}
										{stat.base_stat}%{' '}
									</progress>
								</div>
							))}
						</div>
					</div>
				))
			}
		</section>
		<section>
			<button>Load More</button>
		</section>
	</main>
</Layout>

<style>
	.bug {
		background-color: #ffff99;
		color: #b3b36b;
	}
	progress:has(.bug) {
		background-color: #b3b36b;
	}
	.bug:has(Svg) {
		border: 5px solid #b3b36b;
	}
	.water {
		background-color: #43ccff;
		color: #2f9eb3;
	}
	.water:has(Svg) {
		border: 5px solid #2f9eb3;
	}
	.grass {
		background-color: #00ca91;
		color: #008d77;
	}
	.grass:has(Svg) {
		border: 5px solid #008d77;
	}
	.fire {
		background-color: #e95c4d;
		color: #a33e36;
	}
	.fire:has(Svg) {
		border: 5px solid #a33e36;
	}
	.normal {
		background-color: #a5a5a5;
		color: #747474;
	}
	.normal:has(Svg) {
		border: 5px solid #747474;
	}
</style>
